<template name="list">
  <div class="{{styles.listContainer}}">
    {{#with courseList allCoursesList}}
  {{#each this}}
      <div class="{{styles.columnSize}}">
      <div class="{{styles.picture}}">
        <a href="#" id="compare-link" data-id="{{_id}}" class="{{styles.checkPoint}}">
          <i class="fa fa-circle" aria-hidden="true" style="color:#FFF;font-size:1.5em;"></i>
        </a>
        <img src="{{courseImgUrl}}" class="{{styles.pictureSize}}"/>
      </div>
      <div class="{{styles.detail}}">
        <div class="{{styles.courseName}}">
          {{qualification}}
        </div>
        <div class="{{styles.rating}}">
          {{#each rating}}
            <i class="fa fa-star" aria-hidden="true" style="color:#4EB947;"></i>
          {{/each}}
        </div>
        <div class="{{styles.subList}}">
          <div class="{{styles.icon}}" align="center"><i class="fa fa-graduation-cap" aria-hidden="true" style="color:#8A8A8A;"></i></div><div class="{{styles.displayLabel}}">{{providerLabel}}</div>
        </div>
        <div class="{{styles.subList}}">
          <div class="{{styles.icon}}" align="center"><i class="fa fa-map-marker" aria-hidden="true" style="color:#8A8A8A;"></i></div><div class="{{styles.displayLabel}}">
            {{#with setLocation location}}
              {{this}}
            {{/with}}
          </div>
        </div>
        <div class="{{styles.subList}}">
          <div class="{{styles.icon}}" align="center"><i class="fa fa-clock-o" aria-hidden="true" style="color:#8A8A8A;"></i></div>
          <div class="{{styles.displayLabel}}">{{courseDurationDisplay}}</div>
        </div>
        <div class="{{styles.subList}}">
          <div class="{{styles.icon}}" align="center">
            <a href="#" id="compare-link" data-id="{{_id}}">
              <i class="fa fa-circle" aria-hidden="true" style="color:#8A8A8A;font-size:20px;"></i>
            </a>
          </div><div class="{{styles.displayLabel}}">Compare</div>
        </div>
        <div align="right">
          <a href="#" id="learnMore" name="{{_id}}">Learn More</a>
        </div>
      </div>
      <div>
            {{#with checkInquiryList _id inquiryList}}
                  {{this}}
            {{/with}}
      </div>
    </div>
  {{/each}}
  {{/with}}
  </div>
  <div>
    {{#with setPaging allCoursesList}}
      {{#each this}}
        <button id="btnPage" name="{{page}}" value="{{page}}" class="{{#if selected}}{{styles.btnPageClicked}}{{else}}{{styles.btnPage}}{{/if}}" >{{page}}</button>
      {{/each}}
    {{/with}}
  </div>

</template>
<template name="btnCompare">
  <button id="btnCompare" name="btnCompare" value="compareNow" class="">
    compare now!
  </button>
</template>
