<template name="conclusion">
  <div>
    <h1>Conclusion</h1>
    <div class="questionRow">
      <div class="questionDataLeft">
        <i class="fa fa-frown-o" aria-hidden="true" style="color:red;font-size:150px"></i>
      </div>
      <div class="questionDataRight">
        <p>
          Uh oh =( .You are potentially <span style="color:red;font-size:24px">80%</span> at risk of being SEVERELY exploited
          at work.<br/><br/>
          <i class="fa fa-dot-circle-o" style="color:red" aria-hidden="true"></i> You have the right to <b>not</b> give your passport to your employee.<br/>
          <i class="fa fa-dot-circle-o" style="color:red" aria-hidden="true"></i> Minimum wage in malaysia is <b>RM 1,000</b> per month<br/>
          <i class="fa fa-dot-circle-o" style="color:red" aria-hidden="true"></i> You do have right to say <b>no</b> to the job out of your job scope.<br/><br/>
          Reach out for help at: <br/><br/>
          <div class="questionRow">
            <div class="questionDataLeft">
              <i class="fa fa-phone-square" aria-hidden="true" style="color:green;font-size:60px"></i><br/>Phone<br/><br/>
            </div>
            <div class="questionDataRight">
              <i class="fa fa-comments-o" aria-hidden="true" style="color:green;font-size:60px"></i><br/>Message<br/><br/>
            </div>
          </div>
          <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Find out more how you can fight for your rights:<br/><br/>
          <i class="fa fa-bandcamp" aria-hidden="true"></i> <a class="blueLink" href="http://www.mohr.gov.my/">http://www.mohr.gov.my/</a> <br/>
          <i class="fa fa-bandcamp" aria-hidden="true"></i> <a class="blueLink" href="https://www.facebook.com/Tenaganita-118940961488415/">https://www.facebook.com/Tenaganita-118940961488415/</a>

          <div></div>
        </p>
      </div>
    </div>
  </div>
</template>