<template name="header">
    <header class="container-header">
        <div class="wrapper">
            <h1>Parking status</h1>
            <div class="menu-button js-menu-button">
                <div class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
</template>

<template name="signInSystem">
    <div style="display: inline-table; margin: auto;">
        {{#with isGuest}}
            <div class="dropdown">
                Hi,<a id="mt-command-dd" class="dropdown-toggle" data-toggle="dropdown"> {{firstName}} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation">
                        <a class="urlRedirect" role="menuitem" tabindex="-1" id="config-request-command" href="{{pathFor route='MyEnquiries'}}">My Enquiries</a>
                    </li>
                    <li role="presentation">
                        <a class="urlRedirect" role="menuitem" tabindex="-1" href="{{pathFor route='AccountDetail'}}">Account Setting</a>
                    </li>
                    <li role="presentation">
                        <a class="urlRedirect logout font-color-red" role="menuitem" tabindex="-1" href="#">Sign Out</a>
                    </li>
                </ul>
            </div>
        {{else}}
            <a href="" name="linkLogin" id="btnLogin">Login | Register</a>
        {{/with}}
    </div>
</template>
