.sortFontFormat{
  composes: bottomSpacing from "../../../style.css";
  composes: font from "../../../style.css";
}
.sortDropDown{
  composes: fieldText from "../../../style.css";
}
.btnCompare{
  background-color: #D6D6D6;
  color:#BFBFBF;
  padding: 0.3em 1.5em;
  border-radius: 4px;
}
.btnCompareGreen{
  background-color: #56a800;
  color:#fff;
  padding: 0.3em 1.5em;
  border-radius: 4px;
}
