.footerWrapper {
    composes: container from "../../style.css";
    padding-top: 1rem;
    background: #FF5722;
    color: #BDBDBD;
}

.row1,
.row2 {
    display: flex;
    flex-direction: column;
}

.row1 div,
.row2 div {
    flex: 1 50%;
    text-align: center;
}

@media screen and (min-width:600px) {
    .row1,
    .row2 {
        flex-direction: row;
        justify-content: space-around;
    }
}