.filterFontFormat {
    composes: bottomSpacing from "../../../style.css";
    composes: font from "../../../style.css";
    overflow: hidden;
}

.btnDelete {
    cursor: pointer;
    text-decoration: none;
    color: #797979;
    padding-left: 10px;
}

.item {
    composes: font from "../../../style.css";
    float: left;
    background-color: #EFEFEF;
    border-radius: 10px;
    border: 1px solid #A1A1A1;
    padding: 2px 14px;
    margin-right: 10px;
    margin-bottom: 6px;
}

:local label {
    display: block;
}