<template name="comparisonAside">
    <div class="{{styles.asideNavWrapper}}">
        <div class="{{styles.tabs}}">
            <div id="" class="">
                <div class="{{styles.title}}" align="center">Comparison</div>
                <div class="{{styles.filterMainContainer}}">
                    <div class="{{styles.picture}}"></div>
                    <div class="{{styles.qualification}}">Qualification</div>
                    <div class="{{styles.provider}} {{styles.cardText}}">Provider</div>
                    <div class="{{styles.studyMode}} ">
                    Study Mode
                    </div>
                    <div class="{{styles.deliveryMode}} {{styles.cardText}} ">
                    Delivery Mode
                    </div>
                    <div class="{{styles.courseDuration}} {{styles.cardText}} ">
                    Course Duration
                    </div>
                    <div class="{{styles.location}} {{styles.cardText}} ">
                    Location
                    </div>
                    <div class="{{styles.intake}} {{styles.cardText}}">
                    Intake
                    </div>
                    <div class="{{styles.careerOutcomes}} {{styles.cardText}}">
                    Career Outcomes
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>