<template name="questionForceToWork">
  <div >
    <h1>Can you choose to stop or not work when you are tired or unwell?</h1>
    <div class="questionRow">
      <div class="questionDataLeft">
        <i class="fa fa-bed logo-size" aria-hidden="true"></i>
      </div>
      <div class="questionDataRight">
        <div class="btn-group" data-toggle="buttons" style="width:100%">
        {{#each yesNoList}}
        <label class="btn btn-success radio-btn-size" >
          <input type="radio" name="restDay" style="margin-top:-3px;" value="{{key}}" /> {{label}}
        </label>
        {{/each}}
        </div>
      </div>
    </div>
    <hr style="color:#BDBDBD"/>
    <h1>If you are hurt or unwell at work, do your employer pay for you to see a doctor?</h1>
    <div class="questionRow">
      <div class="questionDataLeft">
        <i class="fa fa-heartbeat logo-size" aria-hidden="true"></i>
      </div>
      <div class="questionDataRight">
        <div class="btn-group" data-toggle="buttons" style="width:100%">
        {{#each yesNoList}}
        <label class="btn btn-success radio-btn-size" >
          <input type="radio" name="restDay" style="margin-top:-3px;" value="{{key}}" /> {{label}}
        </label>
        {{/each}}
        </div>
      </div>
    </div>
    <div class="divNext">
      <button type="button" class="buttonNextQuestion" id="btnNext">Next</button>
    </div>
  </div>
</template>