
.bird5{
    position:absolute;
    margin:-291px -330px;
    animation:volar3 12s linear infinite;
}

.bird7{
    position:absolute;
    transform:scale(.3)
}
.head{
    position:absolute;
    width:25px;
    height:25px;
    border-radius:90px 90px 0;
    background:#ddd;
    transform:rotate(-45deg);
    margin:102px 291px
}
.ojo{
    position:absolute;
    width:5px;
    height:5px;
    border-radius:100%;
    background:black;
    margin:12px 14px
}
.boca{
    position:absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 7px solid #FFAE44;
    border-bottom: 7px solid transparent;
    transform:rotate(45deg);
    margin:17px 21px
}
.body{
    position:absolute;
    width: 65px;
    height: 150px;
    border-bottom: 12px solid #ddd;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-radius: 90px / 100px;
    margin:-30px 231px
}
.body::before{
    content:"";
    position:absolute;
    width:55px;
    height:30px;
    border-radius: 0 0 70px 70px;
    background:#ddd;
    margin:150px 0
}
.ala{
    position:absolute;
    width:30px;
    height:50px;
    background:#ddd;
    border-radius:0px 112px 0px 112px;
    transform-origin:center bottom;
    margin:80px 251px;
    animation:rotar 3s alternate infinite;
}
.ala3{
    position:absolute;
    width:30px;
    height:50px;
    background:#ccc;
    border-radius:0px 112px 0px 112px;
    transform-origin:center bottom;
    margin:80px 241px;
    animation:rotar 3s alternate infinite;
}
.cola{
    position:absolute;
    width:30px;
    height:30px;
    border-radius: 0px 70px 0px 70px;
    background:#ddd;
    margin:90px 221px;
    transform:rotate(-12deg)
}
.cola::before{
    content:"";
    position:absolute;
    width:30px;
    height:30px;
    border-radius: 0px 70px 0px 70px;
    background:#ddd;
    margin:0px 3px;
    transform:rotate(50deg)
}
.cola::after{
    content:"";
    position:absolute;
    width:30px;
    height:30px;
    border-radius: 0px 70px 0px 70px;
    background:#ddd;
    margin:12px -3px;
    transform:rotate(-30deg)
}
@keyframes rotar{
    0%{transform:rotatez(0deg) rotatey(0deg) }
    100%{transform:rotatez(132deg) rotatey(152deg) }
}
@keyframes volar{
    0%{transform:translatex(-30px) translatey(0px)}
    25%{transform:translatex(231px) translatey(12px)}
    30%{transform:translatex(300px) translatey(-30px)}
    40%{transform:translatex(400px) translatey(12px)}
    50%{transform:translatex(500px) translatey(-21px)}
    60%{transform:translatex(600px) translatey(21px)}
    70%{transform:translatex(700px) translatey(0px)}
    80%{transform:translatex(800px) translatey(-9px)}
    90%{transform:translatex(900px) translatey(9px)}
    100%{transform:translatex(1052px) translatey(0px)}
}
@keyframes volar3{
    0%{transform:translatex(-30px) translatey(0px)}
    25%{transform:translatex(321px) translatey(-30px)}
    30%{transform:translatex(400px) translatey(30px)}
    40%{transform:translatex(450px) translatey(-12px)}
    50%{transform:translatex(550px) translatey(33px)}
    60%{transform:translatex(630px) translatey(-33px)}
    70%{transform:translatex(750px) translatey(9px)}
    80%{transform:translatex(850px) translatey(33px)}
    90%{transform:translatex(930px) translatey(-33px)}
    100%{transform:translatex(1052px) translatey(-9px)}
}
