.tr{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0 15%;
}
.tr input,
.tr select{
  width: 100%;
  height: 3.5rem;
}
.tdLabel{
  padding:2px 10px;
  font-weight: bold;
  width: 120px;
  min-width: 80px;
}
.right{
  float: right;
}
.topBorder{
  margin-top: 20px;
}
.btnLogin{
  composes: btn from "../style.css";
  composes: btn-yellow from "../style.css";
  composes: redirect-to-add from "../style.css";
  text-decoration: none;
  border: 0px;
}
