.helix{
    width:20px;
    height: 20px;
    background-color: #000;
    border-radius: 100%;
    margin: 100px auto;
    position: relative;
}
.helix:after{
    content: "";
    width: 100px;
    height:30px;
    display:block;
    background-color: #ccc;
    border-radius: 100%;
    position: absolute;
    right:-100px;
}
.helix:before{
    content: "";
    width: 100px;
    height:30px;
    display:block;
    background-color: #ccc;
    border-radius: 100%;
    position: absolute;
    left:-100px;
}
.helix{
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
@-webkit-keyframes rotating{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);

    }
}
@keyframes rotating{
    from{
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.base{
    height:0;
    width:0;
    display:block;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 0;
    border-bottom: 200px solid #fff;
    margin: -100px auto 0;
}