<template name="humanTraffickingForm">
  <div id="divForm" style="display:inline">
    <div>
      <p>Sign the petition to raise the awareness for the human trafficking issues</p>
    </div>
    <div class="questionRow" style="padding:1em">
      <div class="questionDataLeft">
        Name
      </div>
      <div class="questionDataRight">
        <input type="text" style="padding:1em">
      </div>
    </div>
    <div class="questionRow" style="padding:1em">
      <div class="questionDataLeft">
        Email
      </div>
      <div class="questionDataRight">
        <input type="text" style="padding:1em">
      </div>
    </div>
    <div class="questionRow" style="padding:1em">
      <button name="btnSubmit" style="color:white" class="buttonNextQuestion" id="btnSubmit">Submit</button>
    </div>
  </div>
  <div id="thanksMessage" class="questionRow" style="display:none">
    <p>Thanks for sign up the petition form, please share our information to social media:</p>
    <br/>
    <a class="blueLink" href=""><span><i class="fa fa-facebook-official" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
    <a class="blueLink" href=""><span><i class="fa fa-twitter-square" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
    <a class="blueLink" href=""><span><i class="fa fa-instagram" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
    <a class="blueLink" href=""><span><i class="fa fa-whatsapp" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
    <a class="blueLink" href=""><span><i class="fa fa-google-plus" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
  </div>
</template>