<template name="myEnquiriesAside">
    <div class="{{styles.asideNavWrapper}}">
        <div class="{{styles.tabs}}">
            <div id="" class="">
                <div class="{{styles.title}}" align="center">My Profile</div>
                <div class="{{styles.filterMainContainer}}" style="min-height: 600px;">
                    <div class="{{styles.studyMode}}" id="btnEnquiries" style="font-weight:bold;cursor:pointer;" >
                    My Enquiries
                    </div>
                    <div class="{{styles.deliveryMode}} {{styles.cardText}} {{styles.topBorder}} " id="btnAccount" style="cursor:pointer;">
                    Account Setting
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
