<template name="questionNationality">
  <div>
    <h1>What is your nationality?</h1>
    <div class="questionRow">
      <div class="questionDataLeft">
        <img src="{{nationalityImage}}" style="high:200px;width:300px;" />
      </div>
      <div class="questionDataRight">
        <select class="{{styles.nationalityLevelDropDown}}" name="nationalityCategory">
    			  {{#each nationalityLists}}
    				  <option value="{{key}}">{{label}}</option>
    			  {{/each}}
    			</select>
      </div>
    </div>
    <div class="divNext">
        <button type="button" class="buttonNextQuestion" id="btnNext">Next</button>
    </div>
  </div>
</template>