.sign {
    box-sizing: border-box;
    position:relative;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 3px #666;
    border-radius: 50%;
    margin-bottom:2em;
    display: inline-block;
}

.forbidden {
    border: solid 5px #fff;
    background-color: red;
}

.forbidden:before {
     display:block;
     position:absolute;
     top:10%;
     left:10%;
     content:'';
     background-color: #fff;
     width:80%;
     height:80%;
     border-radius:50%;
 }

.forbidden:after {
     content:'';
     display:block;
     position:absolute;
     top:17.5%;
     left:22.5%;
     transform-origin: top left;
     transform: rotate(45deg);
     width:90%;
     border-top:solid 10px red;
 }