<template name="sunBackground">
    <div class="{{styles.sun}}">
        <div class="{{styles.ray_box}}">
            <div class="{{styles.ray}} {{styles.ray1}}"></div>
            <div class="{{styles.ray}} {{styles.ray2}}"></div>
            <div class="{{styles.ray}} {{styles.ray3}}"></div>
            <div class="{{styles.ray}} {{styles.ray4}}"></div>
            <div class="{{styles.ray}} {{styles.ray5}}"></div>
            <div class="{{styles.ray}} {{styles.ray6}}"></div>
            <div class="{{styles.ray}} {{styles.ray7}}"></div>
            <div class="{{styles.ray}} {{styles.ray8}}"></div>
            <div class="{{styles.ray}} {{styles.ray9}}"></div>
            <div class="{{styles.ray}} {{styles.ray10}}"></div>
        </div>
    </div>
</template>