<template name="questionFreedom">
  <div >
    <h1>Are you currently able to hold on to your passport and travel freely? </h1>
    <div class="questionRow">
      <div class="questionDataLeft">
        <i class="fa fa-exchange logo-size" aria-hidden="true"></i>
      </div>
      <div class="questionDataRight">
        <div class="btn-group" data-toggle="buttons" style="width:100%">
        {{#each yesNoList}}
        <label class="btn btn-success radio-btn-size" style="width:100%;margin:0.5em" >
          <input type="radio" name="freedoom" style="margin-top:-3px;" value="{{key}}" /> {{label}}
        </label>
        {{/each}}
        </div>
      </div>
    </div>
    <div class="divNext">
      <button type="button" class="buttonNextQuestion" id="btnNext">Next</button>
    </div>
  </div>
</template>
