<template name="questionMeal">
  <div >
    <h1>Do your employer provide meal breaks?  </h1>
    <div class="questionRow">
      <div class="questionDataLeft">
        <i class="fa fa-cutlery logo-size" aria-hidden="true"></i>
      </div>
      <div class="questionDataRight">
        <div class="btn-group" data-toggle="buttons" style="width:100%">
        {{#each foodYesNoList}}
        <label class="btn btn-success" style="width:100%;margin:0.5em" >
          <input type="radio" name="restDay" style="margin-top:-3px;" value="{{key}}" /> {{label}}
        </label>
        {{/each}}
        </div>
      </div>
    </div>
    <div class="divNext">
      <button type="button" class="buttonNextQuestion" id="btnNext">Next</button>
    </div>
  </div>
</template>